{% extends "zoom_converter/base.html" %}
{% block content %}
<div class="body-header">
<h1 class="title">{{tournament}}</h1>
<div class="manage">Manage</div>
<div class="clear"></div>
<div class="edit-item"><a href="{% url 'zoom_converter:tournament_update' tournament.pk %}">Rename</a></div>
{% if not tournament.configured %}
<div class="edit-item"><a href="{% url 'zoom_converter:tournament_configure' tournament.pk %}">Initial Configuration</a></div>
{% endif %}
<div class="edit-item"><a href="{% url 'zoom_converter:tournament_access' tournament.pk %}">Manage Access</a></div>
</div>

<table>
{% for event in tournament.events.all %}
<tr>
<td>
<h2><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h2>
</td>
<td>
<ul>
{% for round in event.rounds.all %}
<li>
<h3><a href="{{ round.get_absolute_url }}">{{ round.number }}</a></h3>
</li>
{% endfor %}
</ul>
</td>
</tr>
{% empty %}
<tr><td>nothing was found</td></tr>
{% endfor %}
</table>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
{% for judge in bad_judges %}
BAD JUDGE {{judge}}
{% empty %}
{% endfor  %}

{% for coach in bad_coaches %}
BAD coach {{coach}}
{% empty %}
{% endfor  %}

        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>

{% endblock %}
